@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, "Segoe UI", Roboto, sans-serif;
  background: #f8fbff;
  color: #0f172a;
}

html {
  scroll-behavior: smooth;
}

